html{
    font-family: "Times New Roman", sans-serif, serif;
}

body
{
/*    background-image: url(zebra.jpg);*/
/*    background-repeat:no-repeat;*/
/*    background-size: cover;*/
background-color:#448;

}


img
{
    max-width: 100%;
    height:auto;
    padding:5px;
    opacity: 1;
    margin-bottom: 60px;
}

.borderImg{    
border-radius:10px;
width:500px;
height:500px;
border: 5px solid red;
padding: 5px;
}

button{
    color: white;
    background: red;
    border: none;
    border-radius: 20px;
    font-size:15px;
    margin:20px;
    padding: 20px 40px 60px 50px;
}
h1{
 color:#ffffff;
 line-height: 2rem;
 font-family: 'Hachi Maru Pop', cursive;    
}

h2{
 color:#ffffff;
 line-height: 2rem;
 font-family: 'Imbue', serif;    
}

h3{
 color:#ffffff;
 line-height: 2rem;
 font-family: 'Raleway', sans-serif;    
}


.formatting {
    
    font-size: 25px;
    line-height: 2em;
    color: white;
}

a{
    text-decoration: none;
    font-size:20px;
    color:yellow;
    word-spacing:30px;
    text-transform: uppercase;
}

ul li{
    color:red;
    font-size:20px;
}

ul > li{
    color:yellow;
}
